@media(max-width:1180px){
    header>.container>.content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        gap:23vw;
    }
}

@media (min-width:901px){
    .menu-btn {
        display: none;
    }
}
@media(max-width:900px){
    .logo{
        gap: 25px;
    }
    header{
        height:48px;
    }
    .nav{
        display:none;
    }
    .group-button-header{
        display: none;
    }
    .group-button-header-sidebar{
        display:flex;
        flex-direction: row;
    }
    .menu-btn {
        display: block;
    }
    .sidebar{
        display:flex;
        flex-direction: column;
    }
    
}
@media (max-width:530px){
    .bottom-footer > .container > ul{
        display: block;
    }
    .top-footer > .container > ul.hide{
        display:none;
    }

}
@media(max-width:490px){
    .group-button-header-sidebar{
        width:50%;
        gap:5px;
    }
    .sidebar>ul{
        align-self: start;
    }
}