*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    max-width: 1920px;
}
main{
    display: flex;
    flex-direction: row-reverse;
    height:100%;
}
form{
    width:250px;
    display:flex;
    flex-direction: column;
    gap:15px;
    height:100%;
    border-left:1px solid rgba(128, 128, 128, 0.192);
}
form,.background-login{
    padding:150px 40px;
}
form > input,form > button{
    padding:7px 15px;
    border-radius: 3px;
    border:1px solid #BFBFBF;
}
form > button{
    border:none;
    background-color: blue;
    color: white;
}
.background-login{
    background-color: rgb(138, 230, 230);
    text-align: center;
    color:white;
    height: 100%;
}
.background-login > img{
    width:100%;
}
#check{
    width:15px;
}
