*{
    margin:0;
    padding:0;
}
:root{
    --bg-color-first:#2A527A;
    --bg-color-alt-first:#1F4973;
    --bg-color-second:#F8FAFB;
    --bg-color-third:#57C954;
    --bg-color-third-hover:#60dc5c;
    --shadow-color-third-hover:#57C954;
    --color-text-first:#2A527A;
    --color-text-second:white;
    --color-text-third:#9EB0C3;
    --color-text-five:#587796;
}
a{
    text-decoration: none;
    color:inherit;
}
a:hover{
    text-decoration:underline;
}
li+img{
    height:30px;
}
button:hover{
    cursor:pointer;
}
div.menu-btn > div > div {
    width: 30px;
    height: 3px;
    background-color: white;
}
div.menu-btn > div{
    display:flex;
    flex-direction: column;
    gap:5px;
}
.menu-btn {
    font-size: 70px;
    cursor: pointer;
    color:white;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 420px;
    width: 100%;
    height: 100%;
}
.sidebar {
    position: fixed;
    left: -470px;
    top: 58px;
    width: 400px;
    height: 100%;
    background-color: var(--bg-color-first);
    transition: left 0.3s ease;
    color:white;
    padding:0px 10px;
}
.sidebar>ul{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:20px;
    gap:10px;
}
.group-button-header-sidebar{
    display:flex;
    justify-content: space-between;
    
}
.group-button-header-sidebar>button{
    width: 180px;
}
.group-button-header>.btn-join-free,.group-button-header>.sign-in,
.group-button-header-sidebar>.sign-in,.group-button-header-sidebar>.btn-join-free{
    color:white;
    border-radius: 5px;
    padding:10px 35px;
    font-weight: bold;
    font-size:13px;
}
.group-button-header>.sign-in,.group-button-header-sidebar>.sign-in{
    background-color: inherit;
    border:1px solid gray;
}
.group-button-header>.sign-in:hover,.group-button-header-sidebar>.sign-in:hover{
    border:1px solid rgb(188, 188, 188);
}
body,html{
    height: 100%;
    color:var(--color-text-first);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li{
    text-decoration: none;
    list-style-type: none;
}
.container{
    width:90%;
    margin:0px auto;
}
header{
    position: fixed;
    top:0;
    width: 100%;
    background-color: var(--bg-color-first);
    color:white;
    padding:10px 0px 0px 0px;

}
.logo,.group-button-header{
    display:flex;
    align-items: center;
    gap:10px;
}
.logo{
    height:28px;
}
.logo>img{
    height: 100%;
}
.group-button-header>.btn-join-free,.group-button-header>.sign-in{
    color:white;
    border-radius: 5px;
    padding:10px 35px;
    font-weight: bold;
    font-size:13px;
}
.group-button-header>.sign-in{
    background-color: inherit;
    border:1px solid gray;
}
.group-button-header>.sign-in:hover{
    border:1px solid rgb(188, 188, 188);
}
.btn-join-free{
    color:white;
    font-weight: bold;
    font-size:16px;
    background-color: var(--bg-color-third);
    border:none;
    border-radius: 5px;
    padding:13px 20px;
}
.btn-join-free:hover{
    background-color: var(--bg-color-third-hover);
    box-shadow:0px 0px 13px var(--shadow-color-third-hover);
}
header >.container> .content{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom:10px;
    gap:23vw;
}
.nav{
    background-color: white;
    color:var(--color-text-first);
    padding:20px 0px;
    
}
.container>.content>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:32px;
}
.nav>.container>.content>ul>li>a{
    font-weight: bold;
    font-size:13px;
}

main{
    margin:150px 0;
}
.title-tarif{
    text-align: center;
    margin-bottom: 100px;
}
.tarif{
    background-color: var(--bg-color-second);
    padding:45px 0px;
}
.tarif>.container>.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    flex-wrap: wrap;
}
.tarif>.container>.content>div:nth-child(odd){
    margin-top:60px;
}
.block-tarif{
    display:grid;
    grid-template-rows: 0.5fr 1fr;
    grid-auto-flow: column;
    border-radius: 15px;
    padding:20px;
    background-color: white;
    box-shadow: 0px 0px 10px var(--color-text-third);
}
.header-block-tarif{
    display: flex;
    align-items: center;
    
}
.header-block-tarif>span{
    font-size: 16px;
    font-weight: bold;
    color:white;
    background-color: var(--color-text-third);
    padding:10px 20px;
    border-radius: 15px;
    margin-left:15px;
    margin-bottom:89px;
}
.main-block-tarif{
    display: flex;
    flex-direction: column;
}
.main-block-tarif>p:nth-child(-n+2){
    font-weight: bold;
    color:var(--color-text-third);
}
.main-block-tarif>p>span{
    font-size: 40px;
}
.main-block-tarif>p:nth-child(3){
    font-size: 16px;
    color:var(--color-text-five);
    font-weight: bold;
    /* margin-bottom:30px; */
}
.main-block-tarif>div>p{
    margin-bottom:15px;
    color:var(--color-text-third);
    font-weight: bold;
}
.main-block-tarif>div>ul>li{
    margin-bottom:10px;
}
.main-block-tarif>button{
    padding:10px 0px;
    width:100%;
    margin:40px 0px;
    border-radius: 10px;
    border:2px solid var(--color-text-third);
    background-color: inherit;
    color:var(--color-text-first);
    font-weight: bold;
    font-size: 16px;
}
.main-block-tarif>div>ul>li::before{
    content: "☑️";
    margin-right: 5px;
}


.top-footer{
    background-color: var(--bg-color-first);
    color:white;
}
.top-footer>.container>ul{
    display:flex;
    gap:15px;
    /* border:1px solid black; */
    flex-direction: column;
}
.top-footer>.container>ul>li:first-child{
    font-weight: bold;
}
.top-footer>.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:5px;
    padding:15px;
}
.bottom-footer{
    background-color: var(--bg-color-alt-first);
    color:#496A8C;
    padding:15px;
}
.bottom-footer>.container>ul{
    display:flex;
    align-items: center;
    gap:15px;
}